db.sqlite3
node_modules/
/bidlet/__pycache__/
/api/__pycache__/
webpack-stats.json
src/client/public/
/bidlet/settings.py
/bidlet/include
/bidlet/Lib
/bidlet/Scripts
/bidlet/tcl
/bidlet/pip-selfcheck.json
logfile
users/__pycache__/
users/migrations/
api/migrations/
src/
