{% extends 'base.html' %}
{% load widget_tweaks %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/account/payment.css" />
{% endblock %}


{% block content %}
  <a href="/user/edit">Edit Profile</a>

  <a href="/user/edit" class="back-to-profile">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>

  {% if messages %}
    <div class="messages" id="messages">
      <div class="message-container">
        <h3 class="message-title">Notifications</h3>
        <i onclick="closeNotification()" class="fa fa-times fa-2x notification-close" aria-hidden="true"></i>
        {% for message in messages %}
          <p class="message message-{{message.tags}}">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="credit-card">
    <form method="post">
      <h2 class="payment-header">Credit Card Details</h2>
      {% csrf_token %}
      <div class="card-number-field">
        {{ paymentForm.number.errors }}
        {{ paymentForm.number|attr:"placeholder:Card Number"|add_class:"cc-field card-number"}}
      </div>
      <div class="date">
        {{ paymentForm.exp_month.errors }}
        {{ paymentForm.exp_month|attr:"placeholder: Exp Month"|add_class:"cc-field cc-month"}}
        {{ paymentForm.exp_year.errors }}
        {{ paymentForm.exp_year|attr:"placeholder: Exp Year"|add_class:"cc-field cc-month"}}
      </div>
      <div class="cvv-field">
        {{ paymentForm.cv.errors }}
        {{ paymentForm.cv|attr:"placeholder:CVV"|add_class:"cc-field cc-cvv"}}
      </div>
      <div class="save-button-container">
        <button class="button--save-payment" type="submit" value="{{title}}">Save</button>
      </div>
    </form>
  </div>


{% endblock %}
