{% extends 'base.html' %}
{% load widget_tweaks %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/account/profile-edit.css" />
{% endblock %}

{% block content %}

  {% if messages %}
    <div class="messages" id="messages">
      <div class="message-container">
        <h3 class="message-title">Notifications</h3>
        <i onclick="closeNotification()" class="fa fa-times fa-2x notification-close" aria-hidden="true"></i>
        {% for message in messages %}
          <p class="message message-{{message.tags}}">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="profile-edit-page">
    <form method="post" enctype="multipart/form-data" class="profile-edit-form">
      <h1 class="profile-edit-header">Profile Edit</h1>
      {% csrf_token %}
      <span>Date of Birth:</span>
      {{ accountEditForm.birth_date.errors }}
      {{ accountEditForm.birth_date|attr:"placeholder:Date of Birth"|add_class:"field--profile-edit" }}

      <span>Phone number:</span>
      {{ accountEditForm.phone_number.errors }}
      {{ accountEditForm.phone_number|attr:"placeholder:Phone number"|add_class:"field--profile-edit"}}

      <span>Description:</span>
      {{ accountEditForm.profile_description.errors }}
      {{ accountEditForm.profile_description|attr:"placeholder:Description"|add_class:"field--profile-edit" }}

      <span>Preferred Language:</span>
      {{ accountEditForm.preferred_language.errors }}
      {{ accountEditForm.preferred_language|attr:"placeholder:Preferred Language"|add_class:"field--profile-edit" }}

      <span>Preferred Currency:</span>
      {{ accountEditForm.preferred_currency.errors }}
      {{ accountEditForm.preferred_currency|attr:"placeholder:Preferred Currency"|add_class:"field--profile-edit"}}

      <div class="button-container">
        <button class="button--save" type="submit" value="{{title}}">Save</button>
        <a class="button--return" href="/home"><button type="button" value="{{title}}">Return to Profile</button></a>
      </div>
      <p class="payment-reference"><a href="/user/payments/">Edit your payment information here</a></p>
    </form>
  </div>
{% endblock %}
