{% extends 'base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
  <h2>Welcome to profile edit!</h2>

  {% if messages %}
    <div class="messages" id="messages">
      <div class="message-container">
        <h3 class="message-title">Notifications</h3>
        <i onclick="closeNotification()" class="fa fa-times fa-2x notification-close" aria-hidden="true"></i>
        {% for message in messages %}
          <p class="message message-{{message.tags}}">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <h3>Here, you can find the ability to edit your own account information</h3>

  <a href="/user/payments">Payment Methods</a>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ accountEditForm.as_p }}
    <button type="submit" value="{{title}}">Save</button>
    <a href="/home"><button type="button" value="{{title}}">Return to Profile</button></a>
  </form>


{% endblock %}
