{% extends 'base.html' %}
{% load widget_tweaks %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/account/register.css" />
{% endblock %}

{% block content %}

  <div class="register-page">
    <div class="register-form-container">
      <form method="post" class="register-form">
        <h1 class="register-header">{{title}}</h1>
        {% csrf_token %}

        {% for error, message in form.errors.items %}
          {% if error == "__all__"%}
            <p>{{message}}</p>
          {% endif %}
        {% endfor %}

        {{ user_form.username.errors }}
        {{ user_form.username|attr:"placeholder:Username"|add_class:"field--register" }}
        {{ user_form.email.errors }}
        {{ user_form.email|attr:"placeholder:Email"|add_class:"field--register"}}
        {{ user_form.email2.errors }}
        {{ user_form.email2|attr:"placeholder:Confirm Email"|add_class:"field--register" }}
        {{ user_form.password.errors }}
        {{ user_form.password|attr:"placeholder:Password"|add_class:"field--register"}}
        {{ user_form.password2.errors }}
        {{ user_form.password2|attr:"placeholder:Confirm Password"|add_class:"field--register" }}
        {{ user_form.first_name.errors }}
        {{ user_form.first_name|attr:"placeholder:First Name"|add_class:"field--register"}}
        {{ user_form.last_name.errors }}
        {{ user_form.last_name|attr:"placeholder:Last Name"|add_class:"field--register"}}
        {{ account_form.birth_date.errors }}
        {{ account_form.birth_date|attr:"placeholder:Date of Birth"|add_class:"field--register"}}
        <button class="button--register" type="submit" value="{{title}}">Register</button>
        <hr class="register-line">
        <span class="register-disclaimer">By singing up, you agree to all our terms and conditions</span>
      </form>
    </div>
  </div>
{% endblock %}
