html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/***************** BASE BUTTON ********************/

button {
  outline: none;
  background: none;
  border:none;
}

.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active{
  text-decoration: none;
}

.button,
button {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  min-width: 90px;
  text-align: center;
  background-color: #6aa74c;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/***************** Content Container ********************/

.content-container {
  width: 90%;
  margin: 60px auto;
}


/***************** Helpers ********************/

.center {
  text-align: center;
}

.gutter-bottom--large {
  margin-bottom: 90px;
}

.gutter-bottom {
  margin-bottom: 60px;
}

.gutter-bottom--half {
  margin-bottom: 30px;
}

/***************** Messages ********************/

.message-title {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: #878787;
  border-bottom: 1px solid #C1C1C1;
  font-size: 20px;
}

.messages {
  height: 100px;
  z-index: 8;
  border-radius: 7px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 300px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 10px;
}

.message {
  margin-top: 20px;
}

.message-container {
  position: relative;
}

.notification-close {
  position: absolute;
  top: -5px;
  right: 10px;
  cursor: pointer;
}
