html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/***************** BASE BUTTON ********************/

button {
  outline: none;
  background: none;
  border:none;
}

.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active{
  text-decoration: none;
}

.button,
button {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  min-width: 90px;
  text-align: center;
  background-color: #6aa74c;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/***************** Content Container ********************/

.content-container {
  width: 90%;
  margin: 60px auto;
}


/***************** Helpers ********************/

.center {
  text-align: center;
}

.gutter-bottom--large {
  margin-bottom: 90px;
}

.gutter-bottom {
  margin-bottom: 60px;
}

.gutter-bottom--half {
  margin-bottom: 30px;
}
