/**** New *****/

.home-container {
  height: auto;
}
.hero {
  text-align: center;
  margin-left: 45px;
}

.hero-heading {
  color: white;
  font-size: 49px;
}

.hero-subhead {
  margin: 0;
  font-size: 24px;
  color: #ececec;
}

.search-form {
  margin-top: 50px;
  text-align: center;
}

.search--home-field {
  height: 60px;
  min-width: 240px;
}

.hero--index {
  height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/assets/hero/home.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero--content-container {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

.section--heading {
  font-size: 45px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.section--testimonials {
  margin: 0 auto;
  width: 90%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.home--testimonials {
  width: 300px;
  min-height: 300px;
}

.fa-star {
  font-size: 20px;
  color: #13c098;
}
