.navbar-container {
  height: 60px;
  line-height: 60px;
}

.nav-items {
  max-width: 400px;
  display: inline-block;
  margin-right: 20px;
  float: right;
}

.nav-item {
  text-decoration: none;
  color: #5C5C5C;
  font-size: 15px;
  margin: 0px 20px;
}
