{% load static %}

<html>
  <head>
    <title>Bidlet - Online Sublet Bidding Platform</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    {% block styles %}
    {% endblock %}
  </head>

  <body>
    <div class="overlay">
    </div>

    {% include "nav.html" %}

    {% block hero %}
    {% endblock %}

    <div class="content-container">
      {% block content %}
      {% endblock %}
    </div>

    {% include "footer.html" %}
  </body>

  {% block scripts %}
  {% endblock %}

  <script src="/static/javascript/base.js"></script>

</html>
