{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}" />

<footer class="footer-container">
  <div class="footer-top--bidlet center gutter-bottom--half">
    <a class="footer-item" href="/faq">FAQ</a>
    <a class="footer-item" href="mailto:contact@getfrenzy.co">Contact</a>
    <a class="footer-item" href="/terms">Terms</a>
    <a class="footer-item" href="/privacy">Privacy</a>
    <a class="footer-item" href="/twitter">Twitter</a>
    <a class="footer-item" href="/instagram">Instagram</a>
  </div>

  <div class="footer-bottom--bidlet center gutter-bottom--half">
    <span>Powered By</span>
  </div>
</footer>
