{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}

{% block content %}
  <div class="home-container">
    <div class="hero">
      <h1 class="hero-heading">
        Sublet? Get connected to <br/> your next home on Bidlet
      </h1>
      <h2 class="hero-subhead gutter-bottom">
        Finding a sublet has never been this simple
      </h2>
    </div>

    <!-- ADD DJANGO FORM HERE -->
    <form class="search-form gutter-bottom">
      <input class="search--home-field field--where" type="text" placeholder="Where">
      <input class="search--home-field field--when" type="text" placeholder="When">
      <input class="search--home-field field--number" placeholder="How many">
      <button class="button" type="submit">Search</button>
    </form>

    <div class="cta-container">
      <!-- <a class="button button--cta" href="/register">Get Started</a> -->
      <!-- <a class="button button--cta" href="/register">Login</a> -->
    </div>

  </div>
{% endblock %}
