{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/property/listing.css" />
{% endblock %}

{% block content %}
  {% if user.is_authenticated%}
    <a href="/property/create">Create a listing</a>
  {% elif user.is_anonymous %}
    <span>
      <a href="/login">Login</a> or <a href="/register">Register</a>
      to add a property
    </span>
  {% endif %}
  <h2>Search for Listings</h2>
  <div class="query">
    <form role="form" action="/listings/" method="post">
      {% csrf_token %} {{ SearchPropertyForm }}
      <button type="submit">Submit</button>
    </form>
  </div>
  <h2>Listings</h2>
  <h3>{{ search|default:"All" }}</h3>
  <div class="listings">
    {% for listing in listings %}
    <a href="/property/{{ listing.propertyID }}/">
      <div class="property">
        <div class="property__image">
          <img src="{{ listing.image}}">
        </div>
        <span class="property__price">${{ listing.curPrice|default:listing.startPrice|floatformat:"0"}} CAD</span>
        <div class="property__title">{{ listing.title}}</div>
        {% if listing.rooms %}
        <div class="property__info">{{ listing.rooms}} Rooms</div>
        {% endif %}
        {% if listing.availStart and listing.availEnd %}
        	<div class="property__info">Available:{{ listing.availStart|date:"M Y"}}-{{ listing.availEnd|date:"M Y"}}</div>
        {% endif %}
        <div class="property__info">{{ listing.city}}, {{ listing.country }}</div>
        <div class="property__info">{{ listing.address }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}
