{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}" />

<div class="navbar-container">
  <div class="nav-items">
    {% if user.is_authenticated %}
      <a class="nav-item" href="/home">Home</a>
    {% elif user.is_anonymous %}
      <a class="nav-item" href="/">Home</a>
    {% endif %}
    <a class="nav-item" href="/listings">Listings</a>
    {% if user.is_anonymous %}
      <a class="nav-item" href="/register">Sign Up</a>
      <a class="nav-item" href="/login">Log In</a>
    {% endif %}
    {% if user.is_authenticated %}
      <a class="nav-item" href="/user/edit">Profile</a>
      <a class="nav-item" href="/logout">Log out</a>
    {% endif %}
  </div>
</div>


<!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 51 48">
  <path fill="blue" stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
</svg> -->
