{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/property/property.css" />
{% endblock %}

{% block content %}
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <b class="message-{{message.tags}}">{{ message }}</b>
      {% endfor %}
    </div>
  {% endif %}
  {% if  property.status and property.status == "inactive" or not can_bid %}
    <div class="message-auction-over">
      <span><b>Auction is over. This property is inactive</b></span>
    </div>
  {% endif %}
    <h1>Property Details</h1>

    {% if user.is_authenticated and user.id == property.ownerID%}
      <span><a href="/property/{{property.propertyID}}/edit">Edit</a> the property</span>
    {% endif %}

    <h2>{{ property.title}}</h2>
    <div class="property">
      <div class="property__image">
        <img src="{{ property.image}}">
      </div>
      <span class="property__price">${{ property.curPrice|default:property.startPrice|floatformat:"0"}} CAD</span>
      {% if property.autoWinPrice%}
        <br>
        <span class="property__price">Auto Win: ${{ property.autoWinPrice|default:property.startPrice|floatformat:"0"}} CAD</span>
        <br>
      {% endif %}
      {% if property.rooms %}
          <div class="property__info">{{ property.rooms}} Rooms</div>
      {% endif %}
      {% if property.availStart and property.availEnd %}
          <div class="property__info">Available from {{ property.availStart|date:"M Y"}} to {{ property.availEnd|date:"M Y"}}</div>
      {% endif %}
      <div class="property__info">{{ property.city}}, {{ property.country }}</div>
      <div class="property__info">{{ property.address }}</div>

      <h2>Bid Now</h2>
      <p><b>Bidding ends on:</b> {{bidding.dateEnd|date:"d M Y"}} @ {{ bidding.dateEnd|time:"h:i A" }}</p>
      {% if user.is_authenticated %}
        {% if property.status and property.status == "inactive" or not can_bid%}
          <span class="bid--property-inactive">
            Auction is over. Check out other listings
            <a href="/listings">here</a>
          </span>
        {% elif payment == None %}
          <span>
            No Credit Card Attached. Please update payments method
            <a href="/user/payments">here</a>
          </span>
        {% elif user.id == property.ownerID %}
          <p class="user--is-owner">You cannot bid on your own property</p>
        {% elif user.id == currentUser.userID %}
          <p class="user--current-bid">You are currently the top bid!</p>
        {% else %}
          <form role="form" action="/bid/{{property.propertyID}}" method="post">
            {% csrf_token %}
            <label for="bidPrice">Your Bid Price:</label>
            <input id="bidPrice" type="number" name="bidPrice" value="{{ bidding.curPrice|add:'10'}}">
            <button type="submit">Submit</button>
          </form>
        {% endif %}
      {% endif %}
      {% if user.is_anonymous %}
        <div class="bid-unavailable">
          <span> Please
          <a href="/login/?next=/property/{{property.propertyID}}">Login</a>
          or
          <a href="/register/?next=/property/{{property.propertyID}}">Register</a>
          to continue
          </span>
        </div>
      {% endif %}

    </div>
  </body>
{% endblock %}
